@{
    ViewData["Title"] = " Contacts";
}

<div class="text-center">
    <h1 class="display-4">Contact us</h1>
    <p>гр.Перник </p>
    <p>жк.Могиличе </p>
    <p>ул.Сергей Румянцев 13 </p>
    <p> телефон:0898678979</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d377.87707959761167!2d23.04293141106478!3d42.59865070239354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14aacae14a61335d%3A0xdde93b1ea7df6350!2z0JLQsNGB0LjQuyDQm9C10LLRgdC60LgsINGD0LsuIOKAntCh0LXRgNCz0LXQuSDQoNGD0LzRj9C90YbQtdCy4oCcIDEzLCAyMzA3INCf0LXRgNC90LjQug!5e0!3m2!1sbg!2sbg!4v1709813403363!5m2!1sbg!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
