@{
    ViewData["Title"] = " Contacts";
}

<div class="table">
    <h1 class="display-4">Day menu</h1>
    <section>
        <p>
            Monday
            <article>
                breakfast
<img src ="/images/oat meal.jpg"/>
              oatmeal

            </article>

            




            <article>
                Lunch              
<img src="/images/oat meal.jpg" />
                chiken and rice




            </article>


      



            <article>
                Dinner
 <img src="/images/oat meal.jpg" />
                Fish and potatoes

            </article>




        </p>







    </section>
    
