@{
    ViewData["Title"] = "Contacts";
}

<style>
    .article-img {
        display: block;
    }
    article{
        width:30%;
        margin:10px auto;
        display : inline-block;
    }

    img {
        margin: auto;
        width : 50%
        
    }

    p {
        margin: auto;
        text-align:center;
    }


</style>

<div class="table">
    <h1 class="display-4">Day menu</h1>
    <section>
        <h2>Monday</h2>
            <article>
                <img src="/images/oat meal.jpg" class="article-img" />
                <p>Oatmeal</p>
            </article>

            <article>
                <img src="/images/chiken.jpg" class="article-img" />
                <p>Chicken and rice</p>
            </article>

            <article>
                <img src="/images/fish.jpg" class="article-img" />
                <p>Fish and potatoes</p>
            </article>
       
    </section>
    <section>
        <h2>Tuesday</h2>
            <article>
                <img src="/images/banana pancakes.jpg" class="article-img" />
                <p>Banana pancakes</p>
            </article>

            <article>
                <img src="/images/chiken pasta.jpg" class="article-img" />
                <p>Chiken pasta</p>
            </article>

            <article>
                <img src="/images/cheese omlet.jpg" class="article-img" />
                <p>Cheese omlet</p>
            </article>
        
    </section>
    <section>
        <h2>Wednesday</h2>
        <article>
            <img src="/images/cake.jpg" class="article-img" />
            <p>Protein cake</p>
        </article>

        <article>
            <img src="/images/chiken julienne.jpg" class="article-img" />
            <p>Chiken julienne</p>
        </article>

        <article>
            <img src="/images/cesar.jpg" class="article-img" />
            <p>Cesar salad</p>
        </article>

    </section>
    <section>
        <h2>Thursday</h2>
        <article>
            <img src="/images/cheese omlet.jpg" class="article-img" />
            <p>Cheese omlet</p>
        </article>

        <article>
            <img src="/images/Steak.jpg" class="article-img" />
            <p>Steak and potatoes</p>
        </article>

        <article>
            <img src="/images/cesar.jpg" class="article-img" />
            <p>Cesar salad</p>
        </article>

    </section>
    <section>
        <h2>Friday</h2>
        <article>
            <img src="/images/oat meal.jpg" class="article-img" />
            <p> Oat meal</p>
        </article>

        <article>
            <img src="/images/Steak.jpg" class="article-img" />
            <p>Steak and potatoes</p>
        </article>

        <article>
            <img src="/images/chiken pasta.jpg" class="article-img" />
            <p>Chiken pasta</p>
        </article>

    </section>
    <section>
        <h2>Saturday</h2>
        <article>
            <img src="/images/fruit.jpg" class="article-img" />
            <p>fruit salad</p>
        </article>

        <article>
            <img src="/images/chiken.jpg" class="article-img" />
            <p>Chiken and rice</p>
        </article>

        <article>
            <img src="/images/banana pancakes.jpg" class="article-img" />
            <p>Banana pancakes</p>
        </article>

    </section>
    <section>
        <h2>Sunday</h2>
        <article>
            <img src="/images/cake.jpg" class="article-img" />
            <p>Protein cake</p>
        </article>

        <article>
            <img src="/images/chiken julienne.jpg" class="article-img" />
            <p>Chiken julienne</p>
        </article>

        <article>
            <img src="/images/cesar.jpg" class="article-img" />
            <p>cesar salad</p>
        </article>

    </section>
</div>