@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    For complete security, you should use a virtual card every time you make a payment online. A virtual card offers an added layer of protection for your transactions, and you’ll have peace of mind knowing your sensitive financial information is kept safe from hackers and scammers. Here are some situations when using a Privacy virtual card is especially helpful:

    When Starting Subscriptions & Trials
    Use Privacy for peace of mind when starting a new subscription or a free trial. Forget to cancel? No problem. We’ll automatically decline any unwanted charges.

    When Purchasing From a New Merchant
    Shopping on a website that you’ve never used before or don’t fully trust? Create a single-use card that automatically closes after the transaction. If the merchant turns out to be fraudulent, our expert support team will manage the case on your behalf.

    When Storing Your Card Info For Recurring Payments
    Privacy Cards lock to the first merchant they’re used at and can’t be used elsewhere if stolen. In the event of a data breach, you can pause or close a Privacy Card anytime, anywhere without impacting your other cards.

    When Managing Your Budget
    Privacy lets you easily set and customize card limits, and we’ll automatically decline any transaction that exceeds the limit to keep your spending in check. You can also monitor spending activity in a convenient dashboard on your desktop and mobile phone.
</p>
